@model IEnumerable<JPSBillPayment.Models.Bill>

@{
    ViewData["Title"] = "Bill";
    Layout = "~/Views/Shared/Layout2.cshtml";
}

<h1 class="quick">List of Bills</h1>

<p>
    <a asp-action="Create" class="btn btn-primary ">Create New</a><b class="Options">yuyguy</b>
    <a asp-action="BillsPaid" class="btn btn-primary ">Paid Bills</a><b class="Options">yuyguy</b>
    <a asp-action="Billsdue" class="btn btn-primary ">Pending Bills</a><b class="Options">yuyguy</b>
    <a asp-action="Index" class="btn btn-primary ">All Bills</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.createDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.premisesNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.customerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.amountDue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.createDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.premisesNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.customerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.amountDue)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
